* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

body {
  background: black;
  color: white;
}

.no-select {
  user-select: none;
}

@media (min-width: 1000px) {
  .pointer {
    cursor: pointer;
  }
}
